<!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../assets/css/form-elements.css">
  <link rel="stylesheet" href="../../../assets/css/style.css">




<div class="top-content">

  <div class="inner-bg">
    <div class="container">



      <div class="row">

        <div class="col-sm-offset-3 col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>User Profile</h3>

              </div>
              <div class="form-top-right">
    
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
