<!-- Header -->
<div class="container">
    <div class="jumbotron jumbotron-sm" style="margin-top:2%;color:black;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contact Us <small>Feel free to contact us</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- Contact page Contents -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>
                <p >The City College of New York <br/>
                #160 Convent Ave <br/>
                  New York, NY <br/>
                </p>
                <br />
                <br />

                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail Address:</h3>
                <p style="margin-top:6%;line-height:35%">sada_info@gmail.com</p>
                <br />
                <br />
            </div>
        </div>
        <!-- Google map providing directions for City College of New York -->
        <div class="col-sm-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.3602064381057!2d-73.9514611!3d40.8200511!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa785a9c0ac09561a!2sThe+City+College+of+New+York!5e0!3m2!1sen!2sus!4v1493685241953"
                  width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
