.common-border{
    border : 1px solid black;
}
.center-text-align{
    text-align: center
}
.right-text-align{
    text-align: right
}
#multiselect .dropdown-menu{
    transform: translate(100%, 0) !important;
}
.star-icon{
  font-size: 1.5em !important;
}
