<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#" (click)="onSelect('')">{{title}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li>
               <a href="#" (click)="onSelect('advancedSearch')">Advanced Search</a>
            </li>
            <li>
               <a href="#" (click)="onSelect('')">Profile</a>
            </li>
            <li>
               <a href="#" (click)="onSelect('')">Contact</a>
            </li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>
<hr>
<hr>
<!-- Page Content -->
<div class="container">
   <!-- Page Header -->
   <div class="row">
      <div class="col-lg-12" *ngIf="featureSelected !== 'advancedSearch'">
         <div class="input-group">
            <input name="search" #searchTerm (keyup.enter)="performSearch(searchTerm)" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button (click)="performSearch(searchTerm)" class="btn btn-default" type="button">Go!</button>
            </span>
         </div>
         <br>
          <h3>
            {{giphies.Title}}
         </h3>
          <div class="row">
            <div class="col-md-4 portfolio-item">
               <img class="img-responsive" src="{{giphies.Poster}}" alt="" style="width:240px;height:320px;">
            </div>
            <div class="col-md-8 portfolio-item" >
               <div *ngIf="show; else elseBlock">Movie Details</div>
               <ng-template #elseBlock>
                  <h4>
                     <span>
                        <h3>Plot: </h3>
                     </span>
                     {{giphies.Plot}}
                  </h4>
                  <br>
                  <h3 >  MyMovieCritic:{{avg}}/10 <span>Rotten Tamatoes:{{giphies.Ratings[1].Value}} </span></h3>
                  <br>
                  <h3 >MetaCritic: {{giphies.Ratings[2].Value}}  Imdb Rating: {{giphies.Ratings[0].Value}}</h3>
                  <br>
               </ng-template>
            </div>
            <div>
            </div>
         </div>
      </div>
      <div *ngIf="featureSelected === 'advancedSearch'">
          <app-advancedsearch></app-advancedsearch>
      </div>
      <!-- /.row -->

   </div>
</div>
<!-- /.container -->
